<!DOCTYPE html>
<html lang="en">
<body>
    <title>Game Store - {{product.name}}</title>
    {% include "common/header.html" %}
    <link rel="stylesheet" href="../../static/css/product_styles.css">
    <div class="container-fluid">

        <div class="row justify-content-center border border-3 firstRow">
            <div class="col-lg-8 col-md-12">
                <div>
                <h1>{{product.name}}</h1>
                <hr>
                <p>Platform: {{product.platform}}</p>
                <p>Publisher: {{product.publisher}}</p>
                <p>Description: <br>{{product.description}}</p>
                <h5>Price: {{product.price}}$</h5>
                <hr>
                <a href="{{url_for('cart_operations', product_name=product.name, operation='add')}}">
                    <button type="button" class="btn btn-outline-success">ADD TO CART</button>
                </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="product-img-div">
                    <figure class="figure profile-img">
                        <img src="{{product.link_photo_profile}}" class="figure-img img-fluid rounded" alt="...">
                    </figure>
                </div>
            </div>
        </div>
        <div class="row justify-content-center secondRow">
            <div class="col-lg-10 col-md-12 div-carousel">
                <h3>Pictures</h3>
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                                aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <figure class="figure all-photos">
                                <img src="{{product.carousel_photos_links[0]}}" class="d-block w-100" alt="1" >
                            </figure>
                        </div>
                        <div class="carousel-item">
                            <figure class="figure all-photos">
                                <img src="{{product.carousel_photos_links[1]}}" class="d-block w-100" alt="2">
                            </figure>
                        </div>
                        <div class="carousel-item">
                            <figure class="figure all-photos">
                                <img src="{{product.carousel_photos_links[2]}}" class="d-block w-100" alt="3">
                            </figure>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    {% include "common/footer.html" %}
</body>
</html>