<!DOCTYPE html>
<html lang="en">
<body>
    <ul class="nav flex-column justify-content-end sideBar">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                   aria-expanded="false">Platforms</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{{url_for('show_all_platforms', platform_name='All', sort_option='none')}}">All</a></li>
                    <li><a class="dropdown-item" href="{{url_for('show_all_platforms', platform_name='PlayStation_5', sort_option='none')}}">Playstation 5</a></li>
                    <li><a class="dropdown-item" href="{{url_for('show_all_platforms', platform_name='Xbox_Series_X', sort_option='none' )}}">Xbox series X</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                   aria-expanded="false">Games</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{{url_for('show_all_games', platform_name='All', sort_option='none')}}">All</a></li>
                    <li><a class="dropdown-item" href="{{url_for('show_all_games', platform_name='PlayStation_5', sort_option='none')}}">Playstation 5</a></li>
                    <li><a class="dropdown-item" href="{{url_for('show_all_games', platform_name='Xbox_Series_X', sort_option='none' )}}">Xbox series X</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                   aria-expanded="false">Accessories</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{{url_for('show_all_accessories', platform_name='All', sort_option='none')}}">All</a></li>
                    <li><a class="dropdown-item" href="{{url_for('show_all_accessories', platform_name='PlayStation_5', sort_option='none')}}">Playstation 5</a></li>
                    <li><a class="dropdown-item" href="{{url_for('show_all_accessories', platform_name='Xbox_Series_X', sort_option='none' )}}">Xbox series X</a></li>
                </ul>
            </li>
        </ul>
</body>
</html>