.navbar{
    margin-bottom: 5%;
}

.icon-and-date{
    margin-left: 10px;
}

.icons-facebook-twitter-instagram{
    margin-right: 10px;
}

.sideBar{
    display: inline;
    float: left;
}

.product-img{
    width: 265px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    border-radius: 3%;
}

.product-name{
    height: 100px;
}

.div-of-card{
    margin-bottom: 2.5%;
}

.card{
    width: 290px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition-duration: 0.5s;
}

.price{
    display: inline;
    float: right;
}

.dropdown-center{
    margin-bottom: 5%;
}

.link-product{
    text-decoration: none;
}

.card:hover{
    background-color: #e7e7e7;
}




