.icon-and-date{
    margin-left: 10px;
}

.icons-facebook-twitter-instagram{
    margin-right: 10px;
}

.navbar{
    margin-bottom: 3.5%;
}

.product-link{
    text-decoration: none;
    text-align: left;
}

.profile-img{
    width: 80px;
    height: 100px;
}

.box-img{
    width: 90px;
}

.quantity-box{
    text-align: center;
}

.price-box{
    text-align: center;
}

.box-accordion{
    margin-bottom: 15px;
}