.icon-and-date{
    margin-left: 10px;
}

.icons-facebook-twitter-instagram{
    margin-right: 10px;
}

.navbar{
    margin-bottom: 3.5%;
}

.box{
    padding: 5% 5%;
}

.form-control{
    margin-bottom:10px;
}

.alert{
     margin-top: 10px;
}