.icon-and-date{
    margin-left: 10px;
}

.icons-facebook-twitter-instagram{
    margin-right: 10px;
}

.navbar{
    margin-bottom: 5.75%;
}

.box{
    padding: 8% 8%;
}

.email{
    margin-bottom:15px;
}

.password{
    margin-bottom:15px;
}

.wraper{
    margin-bottom: 5.75%;
}

.alert{
     margin-top: 15px;
}