<!DOCTYPE html>
<html lang="en">
<body>
    <title>Game Store - About</title>
    <link rel="stylesheet" href="../static/css/about_styles.css">
    {% include "common/header.html" %}

        <div class="bg-light text-dark wraper">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                    <img src="../static/assets/about/about_img.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700"
                         height="500" loading="lazy">
                </div>
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold lh-1 mb-3">About</h1>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Laoreet suspendisse interdum consectetur libero id faucibus. Lorem ipsum dolor sit amet consectetur adipiscing elit ut aliquam. Mollis nunc sed id semper risus in. Purus faucibus ornare suspendisse sed. Lectus sit amet est placerat in. Amet cursus sit amet dictum sit amet justo donec. Viverra nam libero justo laoreet sit amet. Non odio euismod lacinia at quis risus. Blandit turpis cursus in hac habitasse. Lectus arcu bibendum at varius vel. Amet volutpat consequat mauris nunc congue nisi vitae.</p>

                </div>
            </div>
        </div>

    {% include "common/footer.html" %}
</body>
</html>
