<!DOCTYPE html>
<html lang="en">
<body>
    <title>Game Store</title>
    <link rel="stylesheet" href="../static/css/home_styles.css">
    {% include "common/header.html" %}


        <div class="bg-light text-dark wraper">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                    <img src="../static/assets/home/games_img.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700"
                         height="500" loading="lazy">
                </div>
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold lh-1 mb-3">Game Store</h1>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet nisl purus in mollis nunc sed id. Sagittis vitae et leo duis ut. Commodo quis imperdiet massa tincidunt. Sit amet tellus cras adipiscing enim.</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        {% if office.the_user == None: %}
                            <a href="{{url_for('sign_in')}}"><button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Sign In</button></a>
                            <a href="{{url_for('register')}}"><button type="button" class="btn btn-outline-secondary btn-lg px-4">Register</button></a>
                        {% else: %}
                            <a class="disabled"><button type="button" class="btn btn-primary btn-lg px-4 me-md-2 disabled">Sign In</button></a>
                            <a class="disabled"><button type="button" class="btn btn-outline-secondary btn-lg px-4 disabled">Register</button></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% include "common/footer.html" %}
</body>
</html>