<!DOCTYPE html>
<html lang="en">
<body>

    <title>Game Store- My orders</title>
    {% include "common/header.html" %}
    <link rel="stylesheet" href="../../static/css/my orders_styles.css">

    <div class="container-fluid">
        <div class="row justify-content-center">
                <div class="col-lg-10 col-md-12 ">
                    <h1>My orders</h1>
                    {% for order in office.the_user.orders: %}
                        <div class="accordion accordion-flush border border-2 rounded-1 border-primary box-accordion" id="accordionFlushExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-heading{{order.id}}">
                                    <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapse{{order.id}}" aria-expanded="false"
                                            aria-controls="flush-collapse{{order.id}}">
                                        Order id: {{order.id}}<br>Date: {{order.details['date']}}
                                    </button>
                                </h2>
                                <div id="flush-collapse{{order.id}}" class="accordion-collapse collapse"
                                     aria-labelledby="flush-heading{{order.id}}" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <h4>Details</h4>
                                        <p>Order id: {{order.id}}</p>
                                        <p>Date: {{order.details['date']}}</p>
                                        <p>Time: {{order.details['time']}}</p>
                                        <p>First name: {{order.details['first_name']}}</p>
                                        <p>Last name: {{order.details['last_name']}}</p>
                                        <p>City: {{order.details['city']}}</p>
                                        <p>Address: {{order.details['address']}}</p>
                                        <hr>
                                        <h4>Items</h4>

                                        <table class="table table-striped table-hover table-light fs-5 border border-3">
                                            <thead>
                                            <tr>
                                                <td class="bg-white" colspan="2">Item</td>
                                                <td class="bg-white quantity-box">Quantity</td>
                                                <td class="bg-white price-box">Price</td>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for item in order.cart: %}
                                            <tr>
                                                <td class="box-img"><a
                                                        href="{{url_for('product_page', product_name=item['product'].name.replace(' ', '_'))}}"><img
                                                        class="profile-img" src="{{item['product'].link_photo_profile}}"
                                                        alt="product_profile_img"></a></td>
                                                <td><a class="product-link"
                                                       href="{{url_for('product_page', product_name=item['product'].name.replace(' ', '_'))}}">{{item["product"].name}}</a>
                                                </td>
                                                <td class="quantity-box">{{item["quantity"]}}</td>
                                                <td class="price-box">{{item["price"]}}$</td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <td class="bg-white" colspan="4">Total Price: {{order.total_price}}$</td>
                                            </tr>
                                            </tfoot>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
        </div>
    </div>

    {% include "common/footer.html" %}

</body>
</html>