<!DOCTYPE html>
<html lang="en">
<body>

    <title>Game Store- Order form</title>
    {% include "common/header.html" %}
    <link rel="stylesheet" href="../../static/css/order form_styles.css">

    <div class="container-fluid wraper">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-10 bg-light rounded-4">
          <main class="form-signin w-100 m-auto">
            <form class="box"  action="{{url_for('order_form')}}" method="post">
              <h1>Game Store</h1>
              <h3 class="h3 mb-3 fw-normal">Please fill out the form</h3>

              <div class="form-floating">
                <input type="text" class="form-control" name="first_name">
                <label for="floatingInput">First name</label>
              </div>
              <div class="form-floating">
                <input type="text" class="form-control"  name="last_name">
                <label for="floatingPassword">Last name</label>
              </div>
              <div class="form-floating">
                <input type="text" class="form-control"  name="city">
                <label for="floatingPassword">City</label>
              </div>
              <div class="form-floating">
                <input type="text" class="form-control"  name="address">
                <label for="floatingPassword">Address</label>
              </div>
              <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
              {% if msg != "": %}
                <div class="alert alert-danger" role="alert">
                    <span>{{msg}}</span>
                </div>
              {% endif %}
            </form>
          </main>
        </div>
      </div>
    </div>

    {% include "common/footer.html" %}

</body>
</html>